@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #507255;

    --muted: #f1f5f9;
    --muted-foreground: #49393b;

    --popover: #ffffff;
    --popover-foreground: #507255;

    --card: #ffffff;
    --card-foreground: #507255;

    --border: #e2e8f0;
    --input: #e2e8f0;

    --primary: #507255;
    --primary-foreground: #fcf9f8;

    --secondary: #f1f5f9;
    --secondary-foreground: #507255;

    --accent: #f1f5f9;
    --accent-foreground: #507255;

    --destructive: #ef4444;
    --destructive-foreground: #fcf9f8;

    --ring: #94a3b8;

    --radius: 0.5rem;
  }

  .dark {
    --background: #003e1f;
    --foreground: #ffffff;

    --muted: #30d5c7;
    --muted-foreground: #373737;

    --popover: #49393b;
    --popover-foreground: #30d5c8;

    --card: #49393b;
    --card-foreground: #49393b;

    --border: #ffffff;
    --input: #ffffff;

    --primary: #ffffff;
    --primary-foreground: #ffffff;

    --secondary: #e3b505;
    --secondary-foreground: #30d5c7;

    --accent: #ffffff;
    --accent-foreground: #ffffff;

    --destructive: red;
    --destructive-foreground: #787878;

    --ring: #ffffff;

    --radius: 0.5rem;
  }
}
.progress-bar {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: linear-gradient(to right, #e3b505, #507255, #49393b);
  transform-origin: 0%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
